{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Qogam</title>
    <!-- Ссылка на CSS стили и иконку сайта -->
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <!-- Подключаем новый шрифт для сайта от Google Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700'>
</head>
    <body>
        <header>
            <h1><a href='/'>Qogam</a></h1>
        </header>
        <nav>
            <!-- Update the navigation to include signup, login and logout links -->
            <div>
                <a href='/'>На главную</a>
                <a href='/snippet/create'>Опубликовать</a>
            </div>
            <div>
                <a href='/user/signup'>Регистрация</a>
                <a href='/user/login'>Вход</a>
                <form action='/user/logout' method='POST'>
                    <button>Выход</button>
            </form>
            </div>

        </nav>
        <main>
            {{with .Flash}}
            <div class='flash'>{{.}}</div>
            {{end}}
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <!-- Подключаем JS чтобы сделать сайт более динамичным -->
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
</html>
{{end}}