{{template "base" .}}
{{define "title"}}Добавить новую проблему{{end}}
{{define "main"}}
<form action='/snippet/create' method='POST'>
    <div>
        <label>Проблема:</label>
        <input type='text' name='title'>
    </div>
    <div>
        <label>Описание:</label>
        <textarea name='content'></textarea>
    </div>
    <div>
        <label>Будет отображаться:</label>
        <input type='radio' name='expires' value='365' checked> Год
        <input type='radio' name='expires' value='7'> Неделя
        <input type='radio' name='expires' value='1'> День
    </div>
    <div>
        <input type='submit' value='Опубликовать'>
    </div>
</form>
{{end}}